html
{
	background-image: -webkit-linear-gradient(0.45turn, #0095D3,#EBF8E1, #0095d3);
	background-image: -moz-radial-gradient(top center, circle cover, #89CBDF 30%, #C6C6C6);
	background-image: -ms-radial-gradient(top center, circle cover, #89CBDF 30%, #C6C6C6);
	background-image: -o-radial-gradient(top center, circle cover, #89CBDF 30%, #C6C6C6);
	background-image: radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
  
  
}

