<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meeting Transcript Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Meeting Analysis: Action Item Extraction</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>
{% if lineData %}
<body>
	<div id="chartContainer" style="height: 370px"></div>
</body>	
{% endif %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% if displayPie %}
	<body>
		<div id="pieChartContainer" style="height: 370px"></div>	
	</body>
{% endif %}


{% block javascript %}
<script>

line_data = JSON.parse({{lineData | tojson}});
var lineChart = new CanvasJS.Chart("chartContainer", {
	'title': {
		text: "Positive Sentiment Throughout Meeting"
	},
	toolTip: {
		'shared': true
	},
	legend: {
		cursor: "pointer",
		verticalAlign: "top",
		horizontalAlign: "center",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
		'data': line_data
});
lineChart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	lineChart.render();
}

</script>

  <script>
	  tm1 = JSON.parse({{dataPie | tojson}});
	  window.onload = function() {
	
	var chart = new CanvasJS.Chart("pieChartContainer", {
		animationEnabled: true,
		title: {
			text: "Participants Engagement Duration"
		},
		data: [{
		type: "pie",
		showInLegend: true,
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{'label'} {y}",
		dataPoints: tm1
		}]
	});
	if({{displayPie}}){
		chart.render();
	}
	}
</script> 
{% endblock %}

    <div class="container">
        
        <form method="POST" action="/predict">
            <div class="form-group">
                    <label>Your Meeting Transcript</label>
            <textarea type="text" rows="5" cols="5" class="form-control"  name="transcript" required="true">   </textarea>
            <br/>
            <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
         
        </div>
        </form>
    </div>
     


    <div class="container">
    	<div class="alert alert-success" role="alert">
        <p class="alert-heading">Result</p>
        <p>Number of Action Items:{{num_of_results}}</p>
        <ol>{% for i in results %}
        	<li>
			<i>{{i[0][0]}}</i>
			<br>
			<b>{{i[0][1]}} {{i[1]}}</b>
			<br>
			<i>{{i[0][2]}}</i>
			<br>
		</li>
		</br>
        	{%endfor %}
    	</ol>
    	</div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
